<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>blog</title>
</head>

<body>
    <%- include("./partials/nav") %>

        <div class="card m-3" data-bs-theme="dark">


            <div class="card-header">
                <h1>
                    <%= blog.title %>
                </h1>
            </div>
            <div class="card-body">
                <p class="card-text">
                    <%= blog.body %>
                </p>
                <div style="display:flex">
                    <a href="/" class="btn btn-primary"
                        style="display: inline; height: 30.6px; width:57.53px; padding:2px">Back</a>
                    <% if(locals.user){%>
                        <% if(JSON.stringify(user._id)===JSON.stringify(blog.createdBy)) {%>
                            <form action="/blog/delete/<%= blog._id %>" method="POST"
                                style="display: inline; margin-left: 15px;">
                                <button class="btn btn-danger btn-sm"
                                    onclick="return confirm('Delete this blog?')">Delete</button>
                            </form>
                            <% } %>
                                <% } %>
                </div>

            </div>

        </div>
        <div class="card m-3" data-bs-theme="dark">
            <h4 class="card-header">
                Comments
            </h4>
            <% if(locals.user){ %>
                <div class="container m-3 pb-2" data-bs-theme="dark">

                    <form action="/blog/<%= blog._id %>" method="post">
                        <input type="text" class="form-control mb-2" required placeholder="Add comment..." name="content" id="content">
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
                <% } else { %>
                    <h6 class="m-3">
                        Sign-in to comment...
                    </h5>
                <% } %>
                    <% comment.forEach(comment=> { %>
                        <div class="ms-3 pt-3 mb-2" data-bs-theme="dark" style="display: flex; border-top: 1px white solid">
                            <img aria-expanded="false" src="/images/default_pp.png" alt="PP" style="width: 35px; height: 100%; border-radius: 50%; margin-top: 6px">
                            <div>
                                <p class="ms-3" style="font-size: small;">
                                    <%= comment.userName %>
                                </p>
                                <h6 class="ms-3">
                                    <%= comment.content %>
                                </h6>
                            </div>
                        </div>
                    <%})%>
        </div>


        <%- include("./partials/script") %>
</body>

</html>