<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") %>
        <title>homepage</title>
</head>

<body style="color:aliceblue">
    <%- include("./partials/nav") %>
            <div class="blog d-flex flex-wrap p-0 ps-2 pt-2" data-bs-theme="dark">
                <% blog.forEach(blog => { %>
                    <div class="card shadow bg-body-tertiary rounded" style="width: 40%; height:140px;">
                        <div class="card-body p-0" style="width: 96%; height:96%;margin:2%">
                            <div class="title d-flex align-items-center" style="height:60%;padding-left:5% ;overflow: hidden;">
                                <h5 class="card-title"
                                    style="display: -webkit-box;line-clamp: 2;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;white-space: normal;line-height: 1.2em;max-height: 2.5em;  ">
                                    <%= blog.title %>
                                </h5>
                            </div>
                            <div class="view m-0 p-0 d-flex align-items-center justify-content-center" style="height: 40%;">
                                <a href="/blog/<%= blog._id %>" class="btn btn-light m-0">
                                    View Blog</a>
                            </div>
                        </div>
                    </div>
                <% })%>
            </div>
            <%- include("./partials/script") %>
</body>

</html>